/* Hero */

.bg-img__container {
    width: 100%;
    display: flex;
    align-items: center;
    /* Adjust the last value (0.5) for the desired opacity */
    justify-content: center;

    /* background-color: red; */
    background-image: linear-gradient(rgba(34, 34, 34, 0.6),
            rgba(34, 34, 34, 0.6)), url('https://images.getbento.com/accounts/fe4a7ce3acf7ad84a4119c806fd43fdc/media/images/63359HHKDX24YMNHFVORN2XJO66JVEY.jpg?w=1200&fit=max&auto=compress,format');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 85vh;
}

.hero__container {
    color: #dee2e6;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.hero-img__container {
    height: 400px;
    display: flex;
    justify-content: center;
}

.hero-img {
    height: 100%;
}


.menu-btn a {
    color: #dee2e6;
}

.menu-btn:hover {
    background-color: #5a1414;
    border-color: #5a1414;
}

/* WDWU - Why dine with us */
.wdwu__container {
    justify-content: end;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 96px;
}

.wdwu-text__container {
    width: 100%;
}

.wdwu__img {
    height: 500px;
}

.wdwu__list {
    list-style: none;
}

.wdwu__item {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* TESTIMONIALS */

.testimonial__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.testimonial {
    padding: 24px 48px;
    /* background-color: #dee2e6; */
    border-radius: 12px;
    margin-bottom: 32px;
    text-align: center;
}

.star__container {
    margin-bottom: 24px;
}

.star__container i {
    font-size: 14px;
}

.testimonial-name {
    font-size: 24px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
}

.testimonial-review {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px;
}

/* Dates */
.closed-day {
    margin-right: 26px;
}

/* MAPS */
.map__text {
    text-align: center;
}

.map__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.link {
    color: #212529;
    display: block;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}



.link:after {
    /* width: fit-content; */
    display: block;
    content: '';
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}


/* CTA */

.cta__container {

    margin-top: 120px;
    width: 100%;
    background-color: #212529;
    padding: 48px 92px;
}

.cta__inner-container {
    margin-top: 0px;
    color: #dee2e6;
    display: flex;
    gap: 52px;
    height: 200px;
}

.cta__img {
    height: 100%;
}

.cta__btn {
    margin-top: 20px;
    background-color: #ebeef1;
}

.footer {
    background-color: #212529;
    color: #dee2e6;
    padding: 48px 92px;

    display: flex;
    justify-content: space-between;
}

.footer li a {
    text-decoration: none;
    color: #dee2e6;
}

.footer__links {
    display: flex;
    gap: 32px;
}

.footer__links li {
    list-style: none;
}