{% extends 'base.html' %}



{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<div class="bg-img__container">
    <section class="container hero__container">
        <div>
            <h1 class="heading-1">Authentic Italian Pizza in the Heart of Eindhoven</h1>
            <h2 class="heading-2">Where Tradition Meets Taste</h2>
            <button class="btn menu-btn"><a href="/menu">View our Menu</a></button>
        </div>
        <!-- <div class="hero-img__container">
            <img class="hero-img" src="/static/img/img.jpg" alt="">
        </div> -->

    </section>
</div>

<section class="container wdwu__container">

    <div>
        <img class="wdwu__img"
            src="https://images.getbento.com/accounts/e4723b86d532f11ffad3dd97bc809ee0/media/images/15199antonio.jpg"
            alt="">
    </div>

    <div class="wdwu-text__container">
        <h2 class="heading-2">Why Dine with Us?</h2>
        <div class="wdwu__list">
            <div class="wdwu__item">
                <p>Authentic Italian Recipes</p>
                <i class="fa-solid fa-file-lines"></i>
            </div>
            <div class="wdwu__item">
                <p>Fresh, Locally-Sourced Ingredients</p>
                <i class="fa-solid fa-carrot"></i>
            </div>
            <div class="wdwu__item">
                <p>Family-Friendly Atmosphere</p>
                <i class="fa-solid fa-people-roof"></i>
            </div>
            <div class="wdwu__item">
                <p>Fast and Reliable Service</p>
                <i class="fa-solid fa-truck-fast"></i>
            </div>
        </div>

    </div>



</section>

<section class="container">
    <h2 class="heading-2">Good Words</h2>
    <div class="testimonial__container">
        <div class="testimonial">
            <div class="star__container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p class="testimonial-review">
                "Every bite of the Margherita pizza took me straight back to Italy. It's rare to find such
                authentic flavors outside of Napoli. Mario and Luigi's Pizzeria is a gem in our city. Can't wait to come
                back!"
            </p>
            <p class="testimonial-name">
                Samantha R.
            </p>
        </div>
        <div class="testimonial">
            <div class="star__container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p class="testimonial-review">
                "Every bite of the Margherita pizza took me straight back to Italy. It's rare to find such
                authentic flavors outside of Napoli. Mario and Luigi's Pizzeria is a gem in our city. Can't wait to come
                back!"
            </p>
            <p class="testimonial-name">
                Samantha R.
            </p>
        </div>

    </div>
</section>


<section class="container flex">

    <div>
        <h2 class="heading-2 mb-10">
            Come and Visit
        </h2>
        <div class="flex">
            <p>Mon</p>
            <p>12:00 - 22:00</p>
        </div>

        <div class="flex">
            <p>Tue</p>
            <p>12:00 - 22:00</p>
        </div>

        <div class="flex">
            <p>Wed</p>
            <p class="closed-day">Closed</p>
        </div>

        <div class="flex">
            <p>Thu</p>
            <p>12:00 - 22:00</p>
        </div>

        <div class="flex">
            <p>Fri</p>
            <p>12:00 - 22:00</p>
        </div>


        <div class="flex">
            <p>Sat</p>
            <p>12:00 - 22:00</p>
        </div>

        <div class="flex">
            <p>Sun</p>
            <p>12:00 - 22:00</p>
        </div>

    </div>

    <div class="map__container">
        <iframe width="425" height="350"
            src="https://www.openstreetmap.org/export/embed.html?bbox=5.467844009399415%2C51.435898727360154%2C5.4816412925720215%2C51.44030606955885&amp;layer=mapnik&amp;marker=51.43810585650309%2C5.474742650985718"
            style="border: 1px solid black"></iframe>
        <p><a class="map__text link"
                href="https://www.google.com/maps/dir//Willemstraat+1D,+5611+HA+Eindhoven/@51.4380457,5.3926895,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47c6d9b7573d8ea5:0xd7ff8605567fcb00!2m2!1d5.4750897!2d51.4380746?entry=ttu"
                target="_blank">Open
                in Google maps</a></p>
    </div>

</section>

<section class="cta__container">
    <div class="container cta__inner-container">
        <div>
            <img class="cta__img" src="/static/img/pizzas/bacon-spicy.png" alt="">
        </div>
        <div>
            <h2 class="heading-2">Craving Pizza?</h2>
            <p>
                Skip the wait and come and try the best pizzas in Eindhoven now!
            </p>
            <button class="btn cta__btn">Visit us!</button>
        </div>


    </div>

</section>

<footer class="footer">
    <ul class="footer__links">
        <li><a href="">About Us</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <ul class="footer__links">
        <li><a href=""></a><i class="fa-brands fa-instagram"></i></li>
        <li><a href=""></a><i class="fa-brands fa-facebook"></i></li>
        <li><a href=""></a><i class="fa-brands fa-whatsapp"></i></li>
    </ul>
</footer>

{% endblock %}